.logo-web {
    padding-top: 16px;
    padding-bottom: 16px;

    color: var(--btn-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .logo-web {
        margin-right: 87px;
        padding-top: 25px;
        padding-bottom: 25px;

        color: var(--btn-color);
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;

        transform: rotate(0);
        transition: transform 250ms var(--timing-function);
    }
}

@media screen and (min-width: 1200px) {
    .logo-web {
        margin-right: 93px;
        padding-top: 25px;
        padding-bottom: 25px;

        color: var(--btn-color);
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;

        transform: rotate(0);
        transition: transform 250ms var(--timing-function);
    }
}

.logo-web:hover,
.logo-web:focus {
    @include desktop {
        transform: rotate(-15deg);
    }
}

.studio {
    color: var(--secondary-color);
}

.studio--footer {
    color: var(--btn-active-color);
}