:root {
    --main-color: #f5f5f5;
    --secondary-color: #212121;
    --btn-color: #2196f3;
    --btn-background: #F5F4FA;
    --btn-active-color: #ffffff;
    --header-color: #FFFFFF;
    --paragraph-color: #757575;
    --footer-color: #2F303A;
    --adress-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --border-skill: #EEEEEE;
    --icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --page-fonts: "Roboto", sans-serif;
}